<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign in</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/sigin.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}" type="application/javascript"></script>
    <!--<script type="application/javascript" th:src="@{/js/common/Utils.js}"></script>-->
    <!--<script type="application/javascript" th:src="@{/js/login/login.js}"></script>-->
</head>
    <body class="text-center">
    <form class="form-signin" th:action="@{/user/login}" method="post">
            <img class="mb-4" th:src="@{/assets/brand/bootstrap-solid.svg}" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}"></h1>
            <input type="hidden" name="uri" th:value="${#httpServletRequest.getAttribute('uri')}">
            <span class="mb-3" style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></span>
            <label for="inputEmail" class="sr-only" th:text="#{login.username}"></label>
            <input  id="inputEmail" name="userName" class="form-control" th:placeholder="#{login.username}" required autofocus>
            <label for="inputPassword" class="sr-only" th:text="#{login.Password}"></label>
            <input type="password" id="inputPassword"  name="password" class="form-control"
                   th:placeholder="#{login.Password}" required>
            <!--<span>-->
                <!--<label for="inputVerify" class="sr-only" th:text="验证码"></label>-->
                <!--<input type="text" id="inputVerify"  style="width: 54%"-->
                        <!--class="form-control" th:placeholder="#{login.VerifyCode}" required>-->
                <!--<img alt="验证码" id="imgVerify"-->
                     <!--src="http://localhost:8080/com-yy-sso/verifimg?date='+Date.now()"-->
                     <!--style="cursor: pointer; margin-top:3px;width: 45%"-->
                     <!--onclick="this.src='http://localhost:8080/com-yy-sso/verifimg?date='+Date.now()">-->
            <!--</span>-->
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="rememberMe" checked> [[#{login.remamber}]]
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btnLogin}"></button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
            <a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
            <a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
        </form>
    </body>

</html>
